<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Путь к log директории -->
  <variable name="logDir" value="./log/${date:format=yyyy}/${date:format=MM-MMMM}/${date:format=dd}"/>

  <!-- Настройка Layout -->    
  <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss}|${level:uppercase=true}|${message}"/>
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss}|${threadid}|${logger}|${level:uppercase=true}|${message}. ${exception:format=ToString}"/>

  <targets>

    <target
      name="eventsLog"
      xsi:type="File"
      fileName="${logDir}/events.log"
      layout="${commonLayout}" />

    <target
      name="detailedLog"
      xsi:type="File"
      fileName="${logDir}/details.log"
      layout="${detailedLayout}" />
    
  <target xsi:type="RichTextBox"
          name="memoLog"
          controlName="LogMemo"
          formName="MIL82MainForm"
          maxLines="1000"
          layout="${commonLayout}" >

        <word-coloring fontColor="Green" regex="(\d)+:(\d)+:(\d)+"/>
        <word-coloring fontColor="Red" regex="\|ERROR\|[^$]*$"/>
        <word-coloring fontColor="Navy" regex="\|INFO\|[^$]*$"/>
        <word-coloring fontColor="Maroon" regex="\|WARN\|[^$]*$"/>
        <word-coloring fontColor="Yellow" backgroundColor="Black" regex="FATAL.*"/>
    </target>

  </targets>

  <rules>
    <!-- Основные log -->
    <logger name="*" minlevel="Trace" writeTo="detailedLog" />
    <logger name="*" minlevel="Info" writeTo="eventsLog" />    
    <logger name="*" minlevel="Info" writeTo="memoLog" />

  </rules>

</nlog>